@import "var"
@import "reset"

@mixin calc($key, $value)
  #{$key}: -webkit-calc(#{$value})
  #{$key}: -moz-calc(#{$value})
  #{$key}: calc(#{$value})

.bd-container
  max-width: 968px
  @include calc("width", "100% - 3rem")
  margin-left: $mb-3
  margin-right: $mb-3

.bd-grid
  display: grid
  gap: 1.5rem

.l-header
  width: 100%
  position: fixed
  bottom: 0
  left: 0
  z-index: $z-fixed
  background-color: $body-color
  box-shadow: 0 -1px 4px rgba(0,0,0,.1)
  transition: .3s

.nav
  height: $header-height
  display: flex
  justify-content: space-between
  align-items: center

.nav_logo,
.nav_toggle
  color: $title_color
  font-weight: $font-medium

.nav_toggle
  font-size: 1.2rem
  cursor: pointer

.nav_item
  text-align: center

.nav_list
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 2rem

.nav_link
  display: flex
  flex-direction: column
  font-size: $smaller-font-size
  font-weight: $font-medium
  color: $text-color-light

.nav_link:hover
  color: $title_color

.nav_icon
  font-size: 1.2rem
  margin-bottom: $mb-1

.show-menu
  bottom: $header-height !important

.active-link
  color: $title-color

.home
  position: relative

.home_container
  gap: 3rem

.home_data
  gap: .5rem
  text-align: center

.home_img
  width: 120px
  height: 120px
  border-radius: 50%
  justify-self: center
  margin-bottom: $mb-1

.home_title
  font-size: $h1-font-size

.home_profession
  font-size: $normal-font-size
  margin-bottom: $mb-1

.home_address
  gap: 1rem

.home_information
  display: flex
  align-items: center
  font-size: $small_font-size

.home_icon
  font-size: 1.2rem
  margin-right: .25rem

.home_button-movil
  display: inline-block
  border: 2px solid $text-color
  color: $title-color
  padding: 1rem 2rem
  border-radius: .25rem
  transition: .3s
  font-weight: $font-medium
  margin-top: $mb-3

.home_button-movil:hover
  background-color: $text-color
  color: $container-color

.social_container
  grid-template-columns: max-content
  gap: 1rem

.social_link
  display: inline-flex
  align-items: center
  font-size: $small-font-size
  color: $text-color

.social_link:hover
  color: $title_color

.social_icon
  font-size: 1.2rem
  margin-right: .25rem

.profile_description
  text-align: center

.education_content
  display: flex

.education_time
  padding-right: 1rem

.education_rounder
  position: relative
  display: block
  width: 16px
  height: 16px
  background-color: $text-color-light
  border-radius: 50%
  margin-right: .25rem

.education_line
  display: block
  width: 2px
  height: 110%
  background-color: $text-color-light
  transform: translate(7px, 0)

.education_data
  gap: .5rem

.education_title
  font-size: $h3-font-size

.education_studies
  font-size: $small-font-size
  color: $title-color

.education_year
  font-size: $smaller-font-size

.skills_content,
.languages_content
  grid-template-columns: repeat(2, 1fr)

.skills_content,
.languages_content
  gap: 0

.skills_name,
.languages_name
  display:  flex
  align-items: center
  margin-bottom: $mb-3
  
.skills_circle,
.languages_circle
  display: inline-block
  width: 5px
  height: 5px
  background-color: $text_color
  border-radius: 50%
  margin-right: .75rem

.certificate_title
  font-size: $h3-font-size
  margin-bottom: $mb-1


@media screen and (max-width: 968px)
  .nav_menu
    position: fixed
    bottom: -100%
    left: 0
    width: 100%
    padding: 2rem 1.5rem
    background-color: $body-color
    box-shadow: 0 1px 4px rgba(0,0,0,.1)
    border-radius: 1rem 1rem 0 0
    z-index: $z-fixed
    transition: .3s
